@import "../../../styles/variables.scss";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 1rem;

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    background: $white-color;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;

    .card-label {
      display: flex;
      flex-direction: column;

      .label {
        color: $secondary-color;
        font-size: 1.3rem;
      }

      .quantity {
        font-size: 1.2rem;
        font-weight: bold;
        color: $details2-color;
      }
    }

    .material-icons, .material-icons-round {
      font-size: 2.2rem;
    }

    .layers { color: $secondary-color; }
    .check { color: $details1-color; }
    .disabled { color: darkgray; }
  }
}
