<body class="cards">
  <div class="card">
    <div class="card-label">
      <span class="label">Total de {{ tipoCadastro }} Cadastrados</span>
      <span class="quantity">{{ total }}</span>
    </div>
    <span class="layers material-icons">layers</span>
  </div>
  <div class="card">
    <div class="card-label">
      <span class="label">Total de {{ tipoCadastro }} Ativos</span>
      <span class="quantity">{{ active }}</span>
    </div>
    <span class="check material-icons">check_box</span>
  </div>
  <div class="card">
    <div class="card-label">
      <span class="label">Total de {{ tipoCadastro }} Inativos</span>
      <span class="quantity">{{ inactive }}</span>
    </div>
    <span class="disabled material-icons-round">disabled_by_default</span>
  </div>
</body>
