<app-default-home-layout pageTitle="Gestão de Usuários">
  <main>
    <section class="cards">
      <div class="card">
        <div class="card-label">
          <span class="label">Total de Usuários Cadastrados</span>
          <span class="quantity">{{ totalUsers }}</span>
        </div>
        <span class="layers material-icons">layers</span>
      </div>
      <div class="card">
        <div class="card-label">
          <span class="label">Total de Usuários Ativos</span>
          <span class="quantity">{{ activeUsers }}</span>
        </div>
        <span class="check material-icons">check_box</span>
      </div>
      <div class="card">
        <div class="card-label">
          <span class="label">Total de Usuários Inativos</span>
          <span class="quantity">{{ inactiveUsers }}</span>
        </div>
        <span class="disabled material-icons-round">disabled_by_default</span>
      </div>
    </section>
    <app-default-table-layout
      [data]="users"
      [columns]="userColumns"
      [pageSize]="10"
      [showLoads]="false"
      (editClicked)="openUpdateUserModal($event)"
      (createClicked)="openCreateUserModal()"
      (toggleStatus)="onToggleUserStatus($event)"
      (deleteClicked)="onDeleteUser($event)"
    >
    </app-default-table-layout>
    <app-input-modal
      [isOpen]="isModalOpen"
      [user]="selectedUser"
      [isUserProfile]="false"
      [entityType]="'usuario'"
      (close)="onCloseModal()"
      (save)="onSaveUser($event)"
      (changePassword)="onChangePassword($event)"
    ></app-input-modal>
  </main>
</app-default-home-layout>
