<app-default-home-layout pageTitle="Gestão de Usuários">
  <main>
    <app-default-cards-layout
      [tipoCadastro]="tipoCadastro"
      [total]="totalUsers"
      [active]="activeUsers"
      [inactive]="inactiveUsers"
    >
    </app-default-cards-layout>
    <app-default-table-layout
      [data]="users"
      [columns]="userColumns"
      [pageSize]="10"
      [showLoads]="false"
      [tableName]="'Cadastro de '+ tipoCadastro"
      [iconName]="'manage_accounts'"
      (editClicked)="openUpdateUserModal($event)"
      (createClicked)="openCreateUserModal()"
      (toggleStatus)="onToggleUserStatus($event)"
      (deleteClicked)="onDeleteUser($event)"
    >
    </app-default-table-layout>
    <app-entity-modal
      [isOpen]="isModalOpen"
      [user]="selectedUser"
      [isUserProfile]="false"
      [entityType]="'usuario'"
      [initialData]="selectedUser || lastFormData"
      (close)="onCloseModal()"
      (save)="onSaveUser($event)"
      (changePassword)="onChangePassword($event)"
    ></app-entity-modal>
    <app-confirm-modal
      title="Confirmar Exclusão"
      message="Tem certeza que deseja excluir este usuário?"
      confirmText="Sim, Excluir"
      cancelText="Cancelar"
      confirmType="danger"
      [isOpen]="isModalConfirmOpen"
      (confirmAction)="onConfirmDelete()"
      (cancelAction)="onCancelDelete()">
    </app-confirm-modal>
  </main>
</app-default-home-layout>
