@import "../../../styles/variables.scss";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin-bottom: 2rem;

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background: $gray-secondary-bg;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;

    .card-label {
      display: flex;
      flex-direction: column;

      .label { color: $secondary-color; }

      .quantity {
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-color;
      }
    }

    .material-icons, .material-icons-round {
      font-size: 2.2rem;
    }

    .layers { color: $secondary-color; }
    .check { color: $details1-color; }
    .disabled { color: $details2-color; }
  }
}

@media (max-width: 768px) {
  main { overflow-x: auto; }

  .cards { display: none; }

  .table-functions {
    display: flex;
    flex-direction: column;
  }
}
