$primary-color: #010A26;      // Azul Marinho Profundo (Base Forte)
$secondary-color: #023859;    // Azul Oceano Escuro (Forte, Suporte)
$tertiary-color: #F2A922;     // Amarelo Gema/Dourado (Ponto Quente / Destaque)
$details1-color: #93B8C9;     // Azul Claro Neutro (Detalhe Suave Frio)
$details2-color: #C3CDD9;     // Cinza Claro Frio (Detalhe Suave Neutro)
$white-color: #FFFFFF;     // Branco Puro (Contraste)
$gray-secondary-bg: #F1F3F6;  // Cinza Gelo (Fundo Geral)
