$primary-color: #010A26;
$secondary-color: #023859;
$tertiary-color: #03738C;
$details1-color: #C46A1A;
$details2-color: #F29E38;
$white-color: #FFFFFF;
$gray-primary-bg: #E3E8EE;
$gray-secondary-bg: #F1F3F6;
