<main>
  <img class="bg-image"
       src="images/login.png"
       alt="Imagem de pessoas trabalhando em orçamento"
  />
  <section class="main-section">
      <strong>Orçamentos inteligentes</strong>
      <strong>para sua empresa</strong>
  </section>
  <section class="form-section">
      <img src="images/logo-escura.png" alt="Logo Orca"/>
      <ng-content></ng-content>
      <div class="btn-wrapper">
          <button
                  class="btn-primary"
                  (click)="submit()"
                  [disabled]="disablePrimaryBtn"
          >
              {{ primaryBtnText }}
          </button>
      </div>

  </section>
</main>
