@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $primary-color;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section {
    gap: 8px;
    flex: 1;
  }

  .form-section {
    border-radius: 12px;
    height: 80%;
    margin: 60px;
    flex: 0.3;
    padding: 0 50px 0 50px;
    background-color: $details3-color;

    img {
      max-width: 70%;
      margin-bottom: 20px;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 30px;

      .divider {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        font-size: 14px;
        color: $secondary-color;
        font-weight: 400;
        text-transform: uppercase;

        div {
          flex-grow: 1;
          height: 2px;
          background-color: $gray-secondary-bg;
        }
      }

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        padding: 12px 24px;
        cursor: pointer;

        &:disabled {
          opacity: 0.6;
        }

        &.btn-primary {
          background-color: $secondary-color;
          color: $details3-color;
          box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.2);
        }

        &.btn-secondary {
          border: 1px solid $secondary-color;
          color: $secondary-color;
          background-color: $details3-color;
          margin-bottom: 40px;
        }
      }
    }
  }
}
