@import "../../../styles/variables.scss";

main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $primary-color;
  overflow: hidden;

  .bg-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: 0;
  }

  section {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section {
    gap: 2%;
    flex: 1;

    strong {
      color: $details1-color;
      font-size: clamp(1.8rem, 5vw, 4rem);
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    }
  }

  .form-section {
    border-radius: 12px;
    height: 80%;
    margin: 5%;
    flex: 0.3;
    padding: 0 2% 0 2%;
    background-color: $gray-1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    img {
      max-width: 70%;
      margin-bottom: 10%;
    }

    .btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 20px;

      button {
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        background-color: transparent;
        padding: 4% 4%;
        cursor: pointer;

        &:disabled {
          opacity: 0.6;
        }

        &.btn-primary {
          background-color: $details2-color;
          color: $primary-color;
          box-shadow: 0px 8px 12px rgba(148.23004603385925, 64.33935597538948, 255, 0.2);
          margin-bottom: 40px;
        }
      }
    }
  }

  @media (max-width: 840px) {
    flex-direction: column;
    height: auto;

    .main-section {
      flex: none;
      width: 100%;
      height: 20vh;
    }

    .form-section {
      flex: none;
      width: 90%;
      height: auto;
      margin: 40px 0;
    }
  }

}
