<main>
  <section class="main-section">
<!--      <img src="images/logo-escura.png" alt="Logo Orca"/>-->
      <strong>Orçamentos Inteligentes</strong>
  </section>
  <section class="form-section">
      <img src="images/logo-escura.png" alt="Logo Orca"/>
      <h2>{{ loginText }}</h2>
      <ng-content></ng-content>
      <div class="btn-wrapper">
          <button
                  class="btn-primary"
                  (click)="submit()"
                  [disabled]="disablePrimaryBtn"
          >
              {{ primaryBtnText }}
          </button>
          <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
      </div>

  </section>
</main>
