<app-default-home-layout pageTitle="Gestão de Clientes">
  <main>
    <section class="cards">
      <div class="card">
        <div class="card-label">
          <span class="label">Total de Clientes Cadastrados</span>
          <span class="quantity">{{ totalSuppliers }}</span>
        </div>
        <span class="layers material-icons">layers</span>
      </div>
      <div class="card">
        <div class="card-label">
          <span class="label">Total de Clientes Ativos</span>
          <span class="quantity">{{ activeSuppliers }}</span>
        </div>
        <span class="check material-icons">check_box</span>
      </div>
      <div class="card">
        <div class="card-label">
          <span class="label">Total de Clientes Inativos</span>
          <span class="quantity">{{ inactiveSuppliers }}</span>
        </div>
        <span class="disabled material-icons-round">disabled_by_default</span>
      </div>
    </section>
    <app-default-table-layout
      [data]="suppliers"
      [columns]="suppliersColumns"
      [pageSize]="10"
      [showLoads]="false"
      (editClicked)="openUpdateSupplierModal($event)"
      (createClicked)="openCreateSupplierModal()"
      (toggleStatus)="onToggleSupplierStatus($event)"
    >
    </app-default-table-layout>
    <app-input-modal
      [isOpen]="isModalOpen"
      [supplier]="selectedSupplier"
      [isUserProfile]="false"
      [entityType]="'fornecedor'"
      (close)="onCloseModal()"
      (save)="onSaveSupplier($event)"
    ></app-input-modal>
  </main>
</app-default-home-layout>
