<app-default-home-layout pageTitle="Gestão de Fornecedores">
  <main>
    <app-default-cards-layout
      [tipoCadastro]="tipoCadastro"
      [total]="totalSuppliers"
      [active]="activeSuppliers"
      [inactive]="inactiveSuppliers"
    >
    </app-default-cards-layout>
    <app-default-table-layout
      [data]="suppliers"
      [columns]="suppliersColumns"
      [pageSize]="10"
      [showLoads]="false"
      [tableName]="'Cadastro de '+ tipoCadastro"
      [iconName]="'local_shipping'"
      (editClicked)="openUpdateSupplierModal($event)"
      (createClicked)="openCreateSupplierModal()"
      (toggleStatus)="onToggleSupplierStatus($event)"
      (deleteClicked)="onDeleteSupplier($event)"
    >
    </app-default-table-layout>
    <app-inputEntity-modal
      [isOpen]="isModalOpen"
      [supplier]="selectedSupplier"
      [entityType]="'fornecedor'"
      (close)="onCloseModal()"
      (save)="onSaveSupplier($event)"
    ></app-inputEntity-modal>
    <app-confirm-modal
      title="Confirmar Exclusão"
      message="Tem certeza que deseja excluir este fornecedor?"
      confirmText="Sim, Excluir"
      cancelText="Cancelar"
      confirmType="danger"
      [isOpen]="isModalConfirmOpen"
      (confirmAction)="onConfirmDelete()"
      (cancelAction)="onCancelDelete()">
    </app-confirm-modal>
  </main>
</app-default-home-layout>
