<div class="table-wrapper">

  <section class="table-functions">
    <div  class="table-type">
      <i class="material-icons-outlined">{{ iconName }}</i>
      <span>{{ tableName }} </span>
    </div>
    <div class="buttons">
      <input type="text" placeholder="Digite um nome para buscar" (input)="onSearch($event)" />
      @if (showLoads) {
        <ng-container>
          <button class="load"><i class="material-icons">upload</i>Importar</button>
          <button class="load"><i class="material-icons">publish</i>Exportar</button>
        </ng-container>
      }
      <button class="add" (click)="onCreate()"><i class="material-icons">add</i>Adicionar</button>
    </div>
  </section>

  <table>
    <thead>
      <tr class="head">
        @for (col of columns; track $index) {
          <th (click)="onSortClick(col.key)">
            {{ col.label }}
            @if (sortKey === col.key) {
              <span>{{ sortDirection === 'asc' ? '▲' : '▼' }}</span>
            }
          </th>
        }
      </tr>

      <tr class="filter">
        @for (col of columns; track $index) {
          <th>
            @if (col.filterable && col.type !== 'actions') {
              <input
                type="text"
                placeholder="Filtrar"
                (input)="onFilterInput(col.key, $event)"
              />
            }
          </th>
        }
      </tr>
    </thead>

    <tbody>
      @for (item of paginatedData; track item) {
        <tr class="line">
          @for (col of columns; track col.key) {
            <td class="cell">
              @if (col.type === 'actions') {
                <div class="cell actions">
                  <button class="action-btn" title="Editar" (click)="onEdit(item)">
                    <i class="material-icons edit">edit</i>
                  </button>
                  <button class="action-btn" title="Deletar" (click)="onDelete(item)">
                    <i class="material-icons delete">delete</i>
                  </button>
                  @if (tableName === 'Cadastro de Materiais') {
                    <button class="action-btn" title="Mostrar histórico de preços" (click)="onShowPrices(id)">
                      <i class="material-icons money">attach_money</i>
                    </button>
                  }
                </div>
              } @else if (col.type === 'toggle') {
                <label class="mini-toggle">
                  <input
                    type="checkbox"
                    [checked]="getValue(item, col.key)"
                    (change)="onToggleStatus(item)"
                  />
                  <span class="mini-slider"></span>
                </label>
              } @else if (col.type === 'boolean') {
                @if (getValue(item, col.key)) {
                  <i class="material-icons icon-true">check_box</i>
                } @else {
                  <i class="material-icons-round icon-false">disabled_by_default</i>
                }
              } @else {
                {{ getValue(item, col.key) }}
              }
            </td>
          }
        </tr>
      }
    </tbody>

  </table>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Próxima</button>
  </div>
</div>
