<app-default-home-layout pageTitle="Gestão de Clientes">
  <main>
    <app-default-cards-layout
      [tipoCadastro]="tipoCadastro"
      [total]="totalCustomers"
      [active]="activeCustomers"
      [inactive]="inactiveCustomers"
    >
    </app-default-cards-layout>
    <app-default-table-layout
      [data]="customers"
      [columns]="customersColumns"
      [pageSize]="10"
      [showLoads]="false"
      [tableName]="'Cadastro de '+ tipoCadastro"
      [iconName]="'people'"
      (editClicked)="openUpdateCustomerModal($event)"
      (createClicked)="openCreateCustomerModal()"
      (toggleStatus)="onToggleCustomerStatus($event)"
      (deleteClicked)="onDeleteCustomer($event)"
    >
    </app-default-table-layout>
    <app-inputEntity-modal
      [isOpen]="isModalOpen"
      [customer]="selectedCustomer"
      [isUserProfile]="false"
      [entityType]="'cliente'"
      (close)="onCloseModal()"
      (save)="onSaveCustomer($event)"
    ></app-inputEntity-modal>
    <app-confirm-modal
      title="Confirmar Exclusão"
      message="Tem certeza que deseja excluir este cliente?"
      confirmText="Sim, Excluir"
      cancelText="Cancelar"
      confirmType="danger"
      [isOpen]="isModalConfirmOpen"
      (confirmAction)="onConfirmDelete()"
      (cancelAction)="onCancelDelete()">
    </app-confirm-modal>
  </main>
</app-default-home-layout>
