@import "../../../styles/variables.scss";

$header-height: clamp(4vh, 9vw, 6vh);
$footer-font: clamp(0.6rem, 1vw, 0.9rem);
$footer-padding: 0.6rem;

$sidebar-width-open: 230px;
$sidebar-width-closed: 60px;

body {
  height: 100vh;
  display: grid;
  grid-template-rows: $header-height 1fr auto;
  grid-template-columns: auto 1fr;
  overflow: hidden; // impede o footer de subir
  transition: grid-template-columns 0.3s ease;

  &.sidebar-hover {
    grid-template-columns: $sidebar-width-open 1fr;
  }
}

header {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  padding: 1.3rem;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  .logo-image { height: 2.2em; }
  .page-name {
    font-size: 1.3rem;
    color: $gray-secondary-bg;
  }

  .user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
    margin-right: 0.5rem;

    .user-data {
      display: flex;
      gap: 1rem;

      .identity {
        display: flex;
        flex-direction: column;
        align-items: end;
        color: $gray-secondary-bg;
        white-space: nowrap;

        .name {
          font-size: 0.9rem;
        }
        .role { font-size: 0.7rem; }
      }

      i {
        align-self: center;
        justify-self: end;
        cursor: pointer;
        color: $gray-secondary-bg;
        font-size: 2rem;
      }
    }

    button {
      cursor: pointer;
      background: $details2-color;
      border: 1px solid $details2-color;
      padding: 15% 60%;
      border-radius: 4px;
      color: $primary-color;
      font-size: 1rem;
    }
  }
}

.sidebar {
  grid-row: 2;
  grid-column: 1;
  width: $sidebar-width-closed;
  background: $gray-secondary-bg;
  color: $secondary-color;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;

  &:hover {
    width: $sidebar-width-open;

    .menu a .label {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    flex: 1;

    a {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      color: $secondary-color;
      font-weight: 500;
      font-size: clamp(0.9rem, 2vw, 1.1rem);
      text-decoration: none;

      .material-icons { padding-right: 0.5rem; }

      .label {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
      }

      &:hover { color: $details1-color; }
    }

    a.active {
      color: $tertiary-color;
      padding: 1.5rem 0.8rem;

      .material-icons { font-size: 2rem; }
    }
  }
}

.section-content {
  grid-column: 2;
  grid-row: 2;
  overflow-y: auto;
  padding: 1.5rem;
}

footer {
  grid-column: 1 / -1;
  grid-row: 3;
  background: $primary-color;
  color: $gray-secondary-bg;
  text-align: center;
  font-size: $footer-font;
  padding: $footer-padding;
}

@media (max-width: 768px) {
  header .page-name {
    display: none;
  }
}

@media (max-width: 400px) {
  header {
    .page-name { display: none; }

    .user-section {
      .identity { display: none; }
    }
  }
}
