@import "../../../styles/variables.scss";

:host {
  .configs-page {
    ::ng-deep .table-wrapper {
      box-shadow: none;
    }
  }
}

main {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.head {
  color: $secondary-color;
  background: $gray-2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  .title-section {
    background-color: $gray-2;
    color: $secondary-color;
    border-radius: 6px;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 8px;

    .material-icons {
      font-size: 28px;
    }

    .icon {
      color: $details2-color;
    }
  }
}


